@theme {
  /* text colors */
  --color-primary-500: oklch(52.5% 0.223 3.958);
  --color-secondary-500: oklch(0% 0 0);
  --color-small-500: oklch(28.2% 0.091 267.935) ;

  /* background colors */
  --color-bground-500: oklch(98.5% 0.002 247.839);

  /* NAVBAR COLORS */
  --color-nav-500: oklch(96.9% 0.016 293.756);
  --color-bgnav-500: oklch(0% 0 0);
  
  /* button colors */
  --color-button-500: oklch(97.1% 0.013 17.38);
  --color-bgbtn-500: oklch(13% 0.028 261.692);
  --color-hoverbtn-500: oklch(37% 0.013 285.805);

  /* badge colors */
  --color-badge-500: oklch(43.2% 0.232 292.759);
  --color-bgbadge-500: oklch(51.4% 0.222 16.935);
  --color-hoverbadge-500: oklch(38.6% 0.063 188.416);

  /* sonner colors  */
  --color-sonner-500: oklch(98.8% 0.003 106.5);
  --color-bgsonner-500: oklch(14.5% 0.008 326);

  /* sheet color  */
  --color-sheet-500: oklch(38% 0.189 293.745);
  --color-bgsheet-500: oklch(76.8% 0.233 130.85);

  /* toggle color  */
  --color-toggle-500: oklch(15.3% 0.006 107.1);
  --color-bgtoggle-500: oklch(49.1% 0.27 292.581);
  --color-hovertoggle-500: oklch(38.6% 0.063 188.416);
  
 /* dialog color */
 --color-dialog-500: oklch(52.5% 0.223 3.958);
  --color-bgdialog-500: oklch(0% 0 0);
}